<h2>Edit Employee</h2>
<%-#<%= form_for :department, url: department_path(@department), method: :patch do |f|%>
<%= render 'form' %>
<%= link_to 'Back', employees_path %>&nbsp;&nbsp;
<%= link_to "Home", controller: :home %>