<h2>New Employee</h2>
<%-#<%= form_for :department, url: departments_path  do |f|%>
<%= render 'form' %>
<%= link_to 'Employees', employees_path %>&nbsp;&nbsp;
<%= link_to "Home", controller: :home %>