<div id="order_state_code_wrapper"> 
  <% parent_region ||= params[:parent_region] %>
  <% puts 'ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss' %>
  <% puts parent_region %>
  <% unless parent_region.nil? %>
  	<% country = Carmen::Country.coded(parent_region) %>
  <% end%>
  <% if country.nil? %>
    <em>Please select a country above</em>
  <% elsif country.subregions? %>
    <%= subregion_select(:department, :state_code, parent_region) %>
  <% else %>
    <%= text_field(:department, :state_code) %>
  <% end %>
</div>